<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>About</title>
    <link rel="stylesheet" href="/style/style.css" />
</head>

<body>
    <div class="about-content">
        {{>header}}

        <p>This is me , {{name}} <br> A backend Developer and Machine Learning Engineer <br> And this {{app_name}} was
            created
            by {{name}}</p>

        <img class="portrait" src="/img/me.png" />
    </div>

    {{>footer}}
</body>

</html>